<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="fc3e67cf-6bc2-469a-8e63-f7696908c674" Publisher="E=support@implbits.com, CN=&quot;Implbits Software, LLC&quot;, O=&quot;Implbits Software, LLC&quot;, L=Lindon, S=UTAH, C=US" Version="1.0.0.1" />
  <Properties>
    <DisplayName>TetraSlide.Win8</DisplayName>
    <PublisherDisplayName>Implbits Software LLC</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.0</OSMinVersion>
    <OSMaxVersionTested>6.2.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="TetraSlide.Win8.App">
      <VisualElements DisplayName="TetraSlide" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="To win you must slide tiles to form all seven specific tile configurations before your opponent." ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="logoOnly" WideLogo="Assets\LogoWide.png" ShortName="TetraSlide" />
        <SplashScreen Image="Assets\SplashScreen.png" />
        <InitialRotationPreference>
          <Rotation Preference="landscape" />
        </InitialRotationPreference>
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>