<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <appSettings>
    <!-- The following values are for production -->
    <!--
    <add key="GoogleAppId" value="167727425875.apps.googleusercontent.com" />
    <add key="GoogleAppSecret" value="NyPuWMFYP5E-de6hsazRpGac" />
    <add key="GoogleRedirectUrl" value="https://services.implbits.com/tetraslide/v1/login/google" />
    <add key="FacebookAppId" value="198102856947041" />
    <add key="FacebookAppSecret" value="37a31a426ef05ff3603e12336ed11cb2" />
    <add key="FacebookRedirectUrl" value="https://services.implbits.com/tetraslide/v1/login/facebook" />
    <add key="WindowsLiveAppId" value="000000004C070A61" />
    <add key="WindowsLiveAppSecret" value="nQo9jTU-WuqRqaIsHydDeDKBqYHFQHkz" />
    <add key="WindowsLiveRedirectUrl" value="https://services.implbits.com/tetraslide/v1/login/live" />
    
    <add key="TetraSlideApiBaseUrl" value="https://services.implbits.com/tetraslide/v1/api/" />
    <add key="TetraSlideAccessToken" value="dGV0cmFzbGlkZUBpbXBsYml0cy5jb201" />
    -->        
    
    <!-- The following values are for for debugging -->
    <add key="GoogleAppId" value="829159877654.apps.googleusercontent.com" />
    <add key="GoogleAppSecret" value="BdkpbJKpFtIEcUJYNHKTSGjq" />
    <add key="GoogleRedirectUrl" value="http://localhost.implbits.com:50808/google/" />
    <add key="FacebookAppId" value="200100810080523" />
    <add key="FacebookAppSecret" value="dbc62a132d85ffd664d9d1dd07653b1f" />
    <add key="FacebookRedirectUrl" value="http://localhost.implbits.com:50808/facebook/" />
    <add key="WindowsLiveAppId" value="0000000044077C45" />
    <add key="WindowsLiveAppSecret" value="b1USpDuWkah27zr1MscuJmKUDdwz59Yt" />
    <add key="WindowsLiveRedirectUrl" value="http://localhost.implbits.com:50808/live/" />
    
    <add key="TetraSlideApiBaseUrl" value ="http://localhost.implbits.com:50809/"/>
    <add key="TetraSlideAccessToken" value ="dGV0cmFzbGlkZUBpbXBsYml0cy5jb201"/>
    
  </appSettings>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
  </system.serviceModel>
</configuration>